/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */

#girl{
    margin:0 auto;
    text-align: center;
    width:80%;
    font-size: 5rem;
}

/* HEADER SPECIFIC ======================================== */

/* ABOUT SPECIFIC ======================================== */

/* COMPONENTS SPECIFIC ======================================== */