/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */
body{
    max-width: 1440px;
    font:100% Helvetica Neu, sans-serif;
    margin:0 auto;
    background-color: #0F7885;
}
#wrapper{
    max-width:960px;
    margin: 0 auto;
    /*overflow:hidden;*/

}
section, article, header, footer, nav, aside, hgroup {
    display: block;
}

/* HEADER SPECIFIC ======================================== */
header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #282828;

    overflow: hidden;
}
#logo{
    float:left;
    padding:2% 2% 0 2%;
}
#title{
    margin: 5% 0 1% 15%;
    color: #B3DEE8;
    width:34.05%;

}
#title > h1{
    font:  4.66em/100% "Contrail One", Helvetica, sans-serif ;
    padding: 0;
    margin: 0;
}
#title > h2{
    text-align:right;
}

nav{
    clear:both;
    padding:0;
    margin: 1% 1% 0 15%;
    width:100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    text-align:right;
    /*background-color:#B3DEE8;*/
}

li {
    float: left;
    width:8.333333333%;
    overflow:hidden;

}

a:link, a:visited {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #0F7885;
    text-align: center;
    padding: 3.33333333333%;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #0F7885;
    color: #B3DEE8;
}
.titleCenter + .para{
    padding-bottom: 14%;
}
/* ABOUT SPECIFIC ======================================== */
.me{
    margin: 5% 0 5% 0;
    width:100%;
    overflow:hidden;
    background-color: rgba(179, 222, 232,.8);
    padding: 2.2% .104166666667% 2% 2.041666666667%;
    border: 2px solid black;

}
#myLife{
    float:left;
    width:48.875%;
    margin-right: 1.04166666667%;
}
.titleCenter{
    margin:0;
    padding-bottom:2%;
    text-align: center;
    font-size: 3em;
    line-height: 100%;

}
.lifeTitle + p{
    text-align: left;
    font-size: 1.13em;
    text-indent: 5%;
    margin-bottom: 1%;
}
#myPic{
    width:46.875%;
    float:right;
    overflow:hidden;
    padding-right:2.04166666667%;

}
#myPic > img{
    width:100%;
    border: 2px solid black;
}
.cta a{
    padding:3% 3% 3% 3%;
    margin:2% auto;
    background-color: #0F7885;
    color: #B3DEE8;
    border:2px solid #B3DEE8;

}
.cta a:hover{
    color: #0F7885;
    background-color:#B3DEE8;
    border: 2px solid #0F7885;
}

/* COMPONENTS SPECIFIC ======================================== */

.component1{
    margin: 5% 0 5% 0;
    width:100%;
    overflow:hidden;
    background-color: rgba(179, 222, 232,.8);
    border: 2px solid black;
    padding:2%;
}
.title{
    font-size:3em;
    text-align: center;
    line-height: 100%;
    padding-bottom:2%;
}
.titleCenter1{
    margin:2%;
    text-align: center;
    font-size: 2.5em;
    line-height: 100%;
}
.imageTop{
    margin: 0 auto;

}
.imageTop > img{
    width: 100%;
    border:2px solid black;
    -webkit-box-shadow: 10px 10px 10px #0F7885;
    -moz-box-shadow: 10px 10px 10px #0F7885;
    box-shadow: 10px 10px 20px #0F7885;
}
.para{
    margin:0 auto;
    text-indent: 5%;
    text-align: justify;
    width: 95%;
    padding:2%;
}

