<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<p>EXDESIMO &copy; 2015 All Rights Reserved | Privacy Policy</p>
    <ul>
        <li><a href="#"></a>Facebook</li>
        <li><a href="#"></a>Twitter</li>
        <li><a href="#"></a>Pinterest</li>
        <li><a href="#"></a>Google Plus</li>
        <li><a href="#"></a>Instagram</li>
    </ul>
</footer>
	<!-- End Component -->
	
</body>
</html>