<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<p>EXDESIMO &copy; 2015 All Rights Reserved | Privacy Policy</p>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Pinterest</a></li>
        <li><a href="#">Google Plus</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
</footer>
	<!-- End Component -->
	
</body>
</html>