<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<p><a href="#">EXDESIMO</a>  &copy; 2015 All Rights Reserved | <a href="#">Privacy Policy</a></p>
    <ul>
        <li><a href="http://www.facebook.com">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.pinterest.com/">Pinterest</a></li>
        <li><a href="https://plus.google.com/">Google Plus</a></li>
        <li><a href="https://instagram.com/">Instagram</a></li>
    </ul>
</footer>
	<!-- End Component -->

</body>
</html>