<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<section>
	<h2>Meet Our Team</h2>
	<article>
		<img src="img/img1.jpg" alt="Pic of Matt Ryan">
		<h3><a href="#">Matt Ryan</a></h3>
		<p>Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales cursus ligula.</p>
	</article>
	<article>
		<img src="img/img2.jpg" alt="Pic of Julio Jones">
		<h3><a href="#">Julio Jones</a></h3>
		<p>Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales cursus ligula.</p>
	</article>
	<article>
		<img src="img/img3.jpg" alt="Pic of Roddy White">
		<h3><a href="#">Roddy White</a></h3>
		<p>Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales cursus ligula.</p>
	</article>
	<article>
		<img src="img/img4.jpg" alt="Pic of Harry Douglas">
		<h3><a href="#">Harry Douglas</a></h3>
		<p>Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales cursus ligula.</p>
	</article>
</section>


<!-- End Component -->

</body>
</html>