<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->

<form>
	<ul>
		<li>
			<h2>The Best Landing Page<span>You Are Looking For</span></h2>
		</li>
		<li>
			<input type="text" placeholder="Full Name">
		</li>
		<li>
			<input type="email" placeholder="Email">
		</li>
		<li>
			<input type="number" placeholder="Phone">
		</li>
		<li>
			<button type="submit">Get Started Now!</button>
		</li>
	</ul>
</form>

<!-- End Component -->

</body>
</html>