<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic">
</head>
<body>

<!-- Component -->
<section>
	<nav>
		<ul>
			<li><a href="#"><strong>New</strong>Accessories</a></li>
			<li><a href="#">Amplifiers</a></li>
			<li><a href="#"><strong>Sale</strong>Headphones</a></li>
			<li><a href="#">In Dash Receivers</a></li>
			<li><a href="#"><strong>Hot</strong>Speakers</a>
				<ul>
					<li><a href="#">Bookshelf</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Lorem</a></li>
				</ul>
			</li>
			<li><a href="#">Subwoofers</a></li>
			<li><a href="#">Tools</a></li>
		</ul>
	</nav>
</section>


<!-- End Component -->

</body>
</html>