<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
        <h2>PhotoStream</h2>
        <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie.
            lacuiirhs. Aenean non ummy hendreriau. ris. Phasellllus. porta. Fusce suscipit varius
            mium sociis totdnatibus et magis dis parturient montes, nascetur ridiculus mus.</p>
        <figure>
            <img src="img/img1.jpg">
            <img src="img/img2.jpg">
            <img src="img/img3.jpg">
            <img src="img/img4.jpg">
        </figure>
	</section>

	<!-- End Component -->
	
</body>
</html>