<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Firstname Lastname</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Component -->
<section>
    <h1><em>The</em> Most Creative</h1>
    <h2>And Artistic Way of Performance</h2>
    <p><a href="#">Read More</a></p>
</section>
<!-- End Component -->

</body>
</html>