/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html{
    font-size:62.5%;
}
body{
    font: 400 1.6em/1.4 "Droid Sans", sans-serif;
    background-color:rgb(33, 33, 33);
}
/* HEADER ======================================== */

/* HEADER ======================================== */
section{
    width:1200px;
    margin:0 auto;
}
article{
    width:100%;
    clear:both;
    border-bottom:rgba(255,255,255,.1) dotted 1px;
    padding:3rem 0;
}
h2{
    font-family: 'Oleo Script';
    font-size: 2.8rem;
    color: #ffffff;
    margin:2rem 0 1rem 0;
}
time{
    float:left;
    color:grey;
    font-size:1.2rem;
    padding-left:3rem;
}
dl{
    clear:both;
    float:left;
    width:200px;
    padding-top:2rem;
    padding-left:3rem;
    font-size: 1.2rem;
    font-weight:bold;
    text-transform: uppercase;
}
dt{
    float:left;
    /*text-transform: uppercase;*/
    font-family:'Arial';
    font-size:12px;
    color:#ffffff;
}
dd{
    color:grey;
    text-indent: .5rem;
}
div{
    float:right;
    width:50%;
}
p{
    font-family:'Droid Sans';
    font-size:1.2rem;
    color:#ffffff;
    line-height: 1.166;
}
h3{
    margin-top: -2rem;

}
h3>a{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2;
    text-align: left;
    font-family: 'Oleo Script';
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
}
div::after{
    display:block;
    content:'';
    clear:both;
}

img{
    clear:both;
}
div>p>a:last-of-type{
    position:relative;
    background:black;
    padding:1rem;
    color:white;
    font-size:1.3rem;
    text-transform: uppercase;

}
div>p>a:last-of-type:hover{
    background:white;
    color:black;

}
div p:last-of-type{
    padding:3rem 0;
}
div p:first-of-type{
    padding:2.65rem 0;
}