<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<section>
	<h1>Blog</h1>
	<article>

		<time datetime="2014-09-10">09.10.2014</time>
		<dl>
			<dt>Category:</dt>
			<dl>Posuere</dl>
			<dt>Hits:</dt>
			<dl>12</dl>
		</dl>
		<img src="img/blogImg1.png">
		<h3><a href="#">Title of the Blog Post</a></h3>
		<p>Aenean tristique ipsum eu orci suscipit, eu fermentum mi varius. Fusce ultricies tellus magna, ac condimentum
			elit pellentesque et. Nullam sem sapien, tincidunt in neque vehicula, convallis dapibus lectus. Donec malesuada
			dapibus dolor, eu vestibulum velit semper id. Donec volutpat placerat dolor in tincidunt. Quisque luctus nibh
			ac massa interdum accumsan. Pellentesque pulvinar ex eu congue tincidunt. In ornare, lorem id ullamcorper hendrerit,
			justo nibh sagittis dolor, ut hendrerit nulla quam nec est. Morbi purus est, aliquam at iaculis ut,
			vestibulum sodales ex. Sed pulvinar ac nunc quis iaculis. Phasellus libero nulla, tempus sit amet odio vel,
			ullamcorper mattis sem. Nullam id diam bibendum, luctus augue vel, interdum nisl. Pellentesque ac malesuada nunc,
			ac volutpat magna.</p>
		<p>Mauris iaculis lectus quis velit euismod scelerisque. Aenean euismod bibendum arcu, a pellentesque tellus accumsan
			vel. Donec non vehicula orci. Morbi condimentum est magna, id semper felis euismod.</p>
		<p><a href="#">More</a></p>
	</article>
	<article>
		<time datetime="2014-09-10">09.10.2014</time>
		<dl>
			<dt>Category:</dt>
			<dl>Posuere</dl>
			<dt>Hits:</dt>
			<dl>12</dl>
		</dl>
		<img src="img/blogImg2.png">
		<h3><a href="#">Title of the Blog Post</a></h3>
		<p>Aenean tristique ipsum eu orci suscipit, eu fermentum mi varius. Fusce ultricies tellus magna, ac condimentum
			elit pellentesque et. Nullam sem sapien, tincidunt in neque vehicula, convallis dapibus lectus. Donec malesuada
			dapibus dolor, eu vestibulum velit semper id. Donec volutpat placerat dolor in tincidunt. Quisque luctus nibh
			ac massa interdum accumsan. Pellentesque pulvinar ex eu congue tincidunt. In ornare, lorem id ullamcorper hendrerit,
			justo nibh sagittis dolor, ut hendrerit nulla quam nec est. Morbi purus est, aliquam at iaculis ut,
			vestibulum sodales ex. Sed pulvinar ac nunc quis iaculis. Phasellus libero nulla, tempus sit amet odio vel,
			ullamcorper mattis sem. Nullam id diam bibendum, luctus augue vel, interdum nisl. Pellentesque ac malesuada nunc,
			ac volutpat magna.</p>
		<p>Mauris iaculis lectus quis velit euismod scelerisque. Aenean euismod bibendum arcu, a pellentesque tellus accumsan
			vel. Donec non vehicula orci. Morbi condimentum est magna, id semper felis euismod.</p>
		<p><a href="#">More</a></p>
	</article>
</section>


<!-- End Component -->

</body>
</html>