<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<section>
	<form>
		<ul>
			<li>
				<h3>Contact Us</h3>
			</li>
			<li>
				<input type="text" placeholder="Your Name">
			</li>
			<li>
				<input type="email" placeholder="Your Email">
			</li>
			<li>
				<textarea placeholder="Your Message"></textarea>
			</li>
		</ul>
		<button type="submit">Send</button>
	</form>
	<aside>
		<h3>Location</h3>
		<img src="img/map.png" alt="Map of Brooklyn">
	</aside>
</section>


<!-- End Component -->

</body>
</html>